@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TriOS Windsor<br />
    Paul's Classroom<br />
    Suite 203<br />
    Windsor, ON Canada<br />
    <abbr title="Phone">P:</abbr>
    519.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@PaulsClassroom.com">Support@PaulsClassroom.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@PaulsClassroom.com">Marketing@PaulsClassroom.com</a>
</address>